PP-OCRv5_server_det_infer/inference.json filter=lfs diff=lfs merge=lfs -text
PP-OCRv5_server_det_infer/inference.pdiparams filter=lfs diff=lfs merge=lfs -text
PP-OCRv5_server_det_infer/inference.yml filter=lfs diff=lfs merge=lfs -text
